function includesList(list, key) {
  for (var i = 0; i < list.length; i++) {
    if (list[i] === key) {
      return true;
    }
  }
  return false;
}

function checkedAll(shopList, checkedList) {
  for (var i = 0; i < shopList.length; i++) {
    var value = shopList[i].value;
    if (!includesList(checkedList, value)) {
      return false;
    }
  }
  return true;
}

function showSelect(ORDER_STATUS, status) {
  var falseList = [
    ORDER_STATUS.process,
    ORDER_STATUS.finish,
    ORDER_STATUS.returnGood
  ]
  return !includesList(falseList, status)
}

module.exports = {
  includesList: includesList,
  checkedAll: checkedAll,
  showSelect: showSelect
};
